.body-home {
  display: flex;
  background-image: url('../images/Background.png');
  background-size: cover;
  width: 100wh;
  height: 100vh;
  color: whitesmoke;

  /* background: linear-gradient(-45deg, #d9d6cf, #2d383a, #c8c8cd, #f0f5f5); */
  background-size: 120% 120%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
.logo {
  display: flex;
  position: absolute;
  width: 15vw;
  height: auto;
  justify-content: flex-start;
  top: 0;
  margin: 15px;
}
.owl_logo {
  display: flex;
  position: absolute;
  justify-content: center;
  justify-items: center;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home_title {
  font-weight: 300;
  font-size: 50px;
}

.home_about {
  font-weight: 50;
  font-size: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  margin: 10vw;
}

.owl_logo {
  display: flex;
  width: 50vh;
  height: auto;
  top: 2vh;
  right: 38vw;
}
