.body-map {
  width: 100vw;
  height: 100vh;
  background-image: url('../image/background.jpg');
  background-size: cover;
  /* color: #4997d0; */
  font-family: 'Helvetica Arial';
  /* background: linear-gradient(-45deg, #d9d6cf, #2d383a, #c8c8cd, #f0f5f5); */
  /* background-size: 150% 80%; */
  -webkit-animation: Gradient 60s ease infinite;
  -moz-animation: Gradient 65s ease infinite;
  animation: Gradient 65s ease infinite;
}
.map {
  display: flex;
  justify-content: center;
  padding-right: 80px;
}
.card {
  width: 40vw;
  float: left;
  margin-top: 100px;
  margin-left: 50px;
  opacity: 0.8;
}
.owl {
  width: 40vw;
  float: right;
  margin-top: 50px;
  margin-left: 50px;
}
.title {
  justify-content: center;
  margin-top: 30px !important;
}
