.custom-tab {
  margin: 0;
  padding: 0 !important;
}

table#schedule {
  display: inline-table;
  width: auto;
  text-align: left;
  min-width: 640px;
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.table-dark td,
.table-dark tr,
.table-dark th {
  border-color: transparent !important;
}

tr.bertha td.room {
  color: rgba(255, 45, 153);
}

tr.carl td.room {
  color: #00adef;
}

div.schedule {
  min-height: 100vh;
}

span.event {
  color: #fff;
  font-size: 20px;
}

a.active {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 1px;
}

ul.center-tabs {
  justify-content: center;
  margin-top: 2rem;
}

a.active span.wrapper {
  color: #fff;
  background: linear-gradient(to right, #3ef2ff 10%, #f64fe0 50%, #a95df5 70%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.nav-item {
  cursor: pointer;
}
