.custom-tab {
  margin: 0;
  padding: 0 !important;
}

table#schedule {
  display: inline-table;
  width: auto;
  text-align: left;
  min-width: 640px;
}

tr.bertha td.room {
  /* background-color: dimgray; */
  color: pink;
}

tr.carl td.room {
  /* background-color: grey; */
  color: aquamarine;
}
div.schedule {
  background-color: #343a40;
  min-height: 100vh;
}

span.event {
  color: #fff;
  font-size: 20px;
}

a.active {
  background-color: #343a40 !important;
}

a.active span {
  color: greenyellow;
}

ul.center-tabs {
  justify-content: center;
  margin-top: 2rem;
}

a.active span.wrapper {
  color: #fff;
  background: linear-gradient(to right, #697dff 10%, #fff 50%, #5bdaff 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 8s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
