/* HTML ELEMENTS */
/*  */
body {
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #4568dc, #b06ab3);
  background: linear-gradient(to right, #4568dc, #b06ab3);

  margin: 0;
  padding: 0;
}
.particles {
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}

p {
  color: white;
  font-size: 23px;
}

span {
  font-weight: bold;
}

.title {
  font: bold 65px/60px Helvetica, Arial, Sans-serif;
  text-align: center;
  color: #eee;
  text-shadow: 0px 2px 6px #333;
  position: absolute;
  top: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  justify-content: center;
  padding: 40px;
}

.items {
  opacity: 0.8;
  margin: 10vh;
  display: flex;
  justify-content: flex-start;
  height: auto;
  width: 23vw;
}

.speakersImg {
  width: 100%;
  height: 40vh;
  border-radius: 7px;
  box-shadow: 5px 5px 15px black;
}

.block {
  position: relative;
  margin: 300px auto 0;
  width: 500px;
  height: 250px;
  background: linear-gradient(0deg, #000, #272727);
}

.block:before,
.block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}

p {
  margin: 0 !important;
  margin-top: 25px !important;
  padding: 0 !important;
  font-size: 20px !important;
}
